<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - DD Footwear</title>
  <style>
      body {
          background-image:url('/images/shoes.jpg');
          background-repeat:no-repeat;
          background-size:cover;
      }
  </style>
</head>
<body>

    @section scripts{
        @Scripts.Render("~/bundles/jqueryval");

        <script>
    $(function () {
        var successMessage = '@TempData["SuccessMessage"]'
        if (successMessage != '')
            alertify.success(successMessage);

    });

    $(function () {
        var errorMessage = '@TempData["ErrorMessage"]'
             if (errorMessage != '')
                 alertify.error(errorMessage);

    });
        </script>
    }
</body>
</html>
