@model IEnumerable<MVCDD.Models.MVCShopModel>
@{
    ViewBag.Title = "Shops";
  
}
<table class="table" table table-striped>
    <thead class="table-heading">
        <tr>
            <th>
                Shop Name
            </th>
            <th>
                Location
            </th>
           

        </tr>
    </thead>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.username)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.location)
    </td>
    

</tr>
    }
</table>

